:host > tui-island {
  button {
    width: 100%;
  }

  & > div {
    display: flex;
    justify-content: space-between;
  }

  tui-svg {
    width: 1.3rem;
    height: 1.3rem;
    color: var(--tui-positive);
  }

  ::ng-deep svg {
    font-size: 1.3rem;
  }
}
